html,
body,
iframe {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  width: 180px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubbly-button {
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffdbed;
  color: #c30000;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
  display: flex;
  width: 120px;
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before,
.bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #e60074;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
:root {
  --d1: 320.54deg;
  --d2: 58.72deg;
  --d3: 121.28deg;
  --d4: 180deg;
  --d5: 52.23deg;
  --d6: 121.28deg;
  --d7: 50% 72.12% at 50% 50%;
  --d8: 72.37%;
  --p1: 0%;
  --p2: 100%;
  --p3: 0.5%;
  --blend-one: screen, color-dodge, color-burn, screen, overlay, difference,
    color-dodge;
  --blend-two: screen, color-dodge, color-burn, screen, overlay, difference;
  --no-blend: inherit;
  --c1: #af1015;
  --c2: #e03cde;
  --c3: #8149d3;
  --c4: #2a257c;
  --c5: #e7f02d;
  --c6: #d65462;
  --c7: #2ff264;
  --c8: #4e6fb5;
  --c9: #b8771a;
  --c10: #f9dd63;
  --c11: #8294a6;
  --c12: #db9175;
  --c13: #972465;
  --c14: #e8c7ed;
  --c15: #5e08a7;
  --c16: #f35eee;
  --c17: #8cb64e;
  --c18: #2d7d19;
  --c19: #9bf7ff;
  --c20: #6637d4;
}
body {
  background: linear-gradient(
      var(--d1),
      var(--c1) var(--p1),
      var(--c11) var(--d8)
    ),
    linear-gradient(var(--d2), var(--c2) var(--p1), var(--c12) var(--p2)),
    linear-gradient(var(--d3), var(--c3) var(--p1), var(--c13) var(--p2)),
    linear-gradient(var(--d3), var(--c4) var(--p1), var(--c14) var(--p2)),
    linear-gradient(
      var(--d4),
      var(--c5) var(--p1),
      var(--c15) var(--p3),
      var(--c17) var(--p2)
    ),
    linear-gradient(var(--d5), var(--c6) var(--p1), var(--c16) var(--p2)),
    linear-gradient(var(--d6), var(--c7) var(--p1), var(--c10) var(--p2)),
    radial-gradient(var(--d7), var(--c8) var(--p1), var(--c9) var(--p2));
  background-blend-mode: var(--blend-one);
  width: 100%;
  backdrop-filter: none;
  background-repeat: no-repeat;
}
.card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result {
  color: #423623;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
